@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');

$heading-font: 'Roboto Condensed', sans-serif;
$body-font: 'Cabin', sans-serif;

$dark-blue: #142850;
$blue: #27496d;
$blue-green: #00909e;
$gray: #DAE1E7;
$red: #E8505B;